<footer class="container">
    <div class="row">
      <ul class="mx-auto text-center">
        <div><i class="fa-regular fa-registered"></i>
          <li class="col-md-12">Created by:</li>
          <li class="col-md-12">
            Maayan Yehuda 
            <a href="mailto: mayan.yehuda@gmail.com" target="_blank" rel="noopener"><i class="bi bi-envelope"></i></a>
          </li>
          <li class="col-md-12">
            Harel Rov 
            <a href="mailto: rovharel@gmail.com" target="_blank" rel="noopener"> <i class="bi bi-envelope"></i></a>
          </li>
        </div>
      </ul>
    </div>

  </footer>